body {
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    margin: auto;
    width: 400px;
    height: 550px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}
img {
    border-radius: 6px;
    width: 360px;
    height: auto;
}
h3, p {
    padding: 0 50px;
}
h3 {
    color: hsl(218, 44%, 22%);
    font-size: 23px;
    margin-bottom: 3px;
}
p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}